<header class="main-header">
  <div class="logo">
    <a href="#">Jiu Jitsu</a>
  </div>
  <nav class="main-nav">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
          >Início</a
        >
      </li>
      <li><a routerLink="/campeonatos" routerLinkActive="active-link">Campeonatos</a></li>
      <li><a routerLink="/noticias" routerLinkActive="active-link">Notícias</a></li>
      <li><a routerLink="/contato" routerLinkActive="active-link">Contato</a></li>
    </ul>
  </nav>
</header>
